@font-face {
  font-family: "mitrregular";
  src: url("../fonts/mitr/mitr-regular-webfont.woff2") format("woff2"),
    url("../fonts/mitr/mitr-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mitrsemibold";
  src: url("../fonts/mitr/mitr-semibold-webfont.woff") format("woff2"),
    url("../fonts/mitr/mitr-semibold-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: mitrregular;
  background: #a0ffce;
  /*background: linear-gradient(
    45deg,
    rgba(255, 153, 0, 1) 0%,
    rgba(255, 243, 0, 1) 100%
  );*/
  padding: 20px;
  height: fit-content;
}

.user-data {
  margin-top: 10px;
  border-radius: 10px;
  background: rgb(26, 228, 231);
  background: linear-gradient(
    45deg,
    rgba(26, 228, 231, 1) 0%,
    rgba(0, 255, 153, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.manual-control,
.auto-control,
.feeding-control {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.manual-control {
  height: fit-content;
}

.auto-control {
  height: fit-content;
}

.btn-control {
  height: 70px;
  width: 120px;
  margin: 10px;
  font-size: x-large;
}

.brand-icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.brand-name {
  font-family: mitrsemibold;
  background: -webkit-linear-gradient(
    45deg,
    rgb(255, 94, 0) 0%,
    rgb(255, 145, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-item {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-tabs {
  flex-flow: nowrap;
}

.tab-content {
  background-color: white;
}

.col-md {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.col-lg {
  width: fit-content;
}

.fa-cog,
.fa-bars {
  color: gray;
}

#feeder-dropdown {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border: 0px;
}

.adjust-project-div {
  width: fit-content !important;
}

#modal-greeting-txt {
  background: -webkit-linear-gradient(
    45deg,
    rgb(255, 94, 0) 0%,
    rgb(255, 145, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-floppy-o,
.fa-pencil,
.fa-trash {
  font-size: 15px;
}

.table-history {
  width: 70%;
  font-size: 18px;
  border: 3px solid black;
}

.table-history td {
  width: 50%;
}

.table-history tr {
  line-height: 30px;
}

#mstopfeed,
#msavefeed,
#mclearfeed {
  opacity: 0.1;
}

#UsedFoodG,
#UsedFoodK,
#UsedFoodTime {
  width: 100px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  color: red;
  font-family: mitrsemibold;
}

#UsedFoodG:disabled {
  border: 2px solid darkblue;
  background-color: white;
}

#UsedFoodK:disabled {
  border: 2px solid darkblue;
  background-color: white;
}

#UsedFoodTime:disabled {
  width: 50px;
  border: 2px solid darkblue;
  background-color: white;
}

#foodsize {
  width: auto;
  margin: 10px;
}

.btn-r1,
.btn-r2,
.btn-r3,
.btn-r4 {
  margin: 2px;
}

.btn-r1 {
  width: 100px;
}

.btn-r2 {
  width: 100px;
  display: none;
}

.btn-r4 {
  width: 100px;
  display: none;
}

#AutomationTable td {
  text-align: center !important;
}

.fa-trash {
  color: red;
}

#DelProTxt {
  display: none;
  color: red;
  font-size: x-small;
}

#failedStrat {
  font-size: 13px;
  line-height: 1.4;
  color: red;
  animation: 0.3s shake;
}

#keyStatus {
  font-size: 13px;
  line-height: 1.4;
  color: red;
  display: none;
  margin-top: 5px;
}

#fillempty {
  font-size: 13px;
  line-height: 1.4;
  color: red;
  display: none;
  margin-top: 10px;
}

#linkforlatlong {
  font-size: small;
  text-decoration: underline;
}

.btn-history {
  width: 100%;
  background-color: white;
  color: black;
  font-size: 14px;
}

.btn-history:hover {
  background: rgb(26, 228, 231);
  background: linear-gradient(
    45deg,
    rgba(26, 228, 231, 1) 0%,
    rgba(0, 255, 153, 1) 100%
  );
  color: black;
}

.collapse-history {
  font-size: 14px;
  width: 100%;
}

.modal-body-history {
  padding: 50px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  overflow-y: scroll;
  max-height: 500px !important;
}

#otherSize {
  display: none;
  text-align: center;
}

/* The switch - the box around the slider ======================================== */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00fd7e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00fd7e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/*==============================================================================*/

@media screen and (max-width: 380px) {
  .manual-control,
  h4 {
    font-size: 14px;
    margin-bottom: 10px;
  }

  #headerTxt {
    font-size: 16px;
  }

  .btn-control {
    height: 50px;
    width: 100px;
    margin: 5px;
    font-size: medium;
  }

  .btn-success,
  .btn-secondary,
  .btn-danger {
    font-size: small;
  }

  .user-data {
    font-size: small;
  }

  .brand-name {
    font-size: large;
  }

  .brand-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }

  .fa-cog,
  .fa-bars {
    font-size: x-large;
  }

  .user-weather {
    margin-right: 0px !important;
  }

  .col-md {
    padding-left: 10px;
    padding-right: 10px;
  }

  #AddRowBtnTxt {
    display: none;
  }

  #AddNewRowBtn {
    min-width: fit-content;
    background-color: transparent;
    color: darkcyan;
    border: 0px;
    padding-right: 0px;
  }

  .table-history {
    table-layout: fixed;
    width: 100%;
    font-size: 14px;
    border: 3px solid black;
  }

  .table-history tr {
    line-height: 30px;
    vertical-align: baseline;
  }

  #UsedFoodG,
  #UsedFoodK,
  #UsedFoodTime {
    width: 80px;
    font-size: small;
  }
}
